.loginContainer {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-blend-mode: overlay;
  background-image: url("../assets/houses/house-1.jpg");
  background-color: var(--mid-grey-rgba);
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 35rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  padding: 2rem;
  animation: appear 0.2s ease-in-out 0.1s forwards;
  box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.form-control {
  border-radius: 2rem;
}

.form-control:focus {
  border-color: var(--green);
  box-shadow: 0 0 0 0.25rem rgba(153, 194, 16, 0.25);
}

.form-control::placeholder {
  opacity: 0.7;
}

.loginContainer button {
  border: 2px solid var(--green);
  background-color: rgba(153, 194, 16, 0.3);
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  text-shadow: 0.3 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  filter: drop-shadow(-0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1));
}

.loginContainer button:hover {
  transform: scale(1.1);
  border: 2px solid var(--green-hover);
  background-color: var(--green-hover);
  animation: fadeInTop 0.2s ease-in-out 0.7s forwards;
}

@media (max-width: 768px) {
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}