.custom-next-button {
  transform: rotate(180deg);
}

.custom-next-button,
.custom-prev-button {
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.myTitle {
  top: 0.5rem;

  & p {
    color: var(--mid-grey);
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}

.reserves {

  width: 80%;
  margin-left: 18rem;
  
  & li {
    width: 100%;
    min-width: 10rem;
    text-align: center;

    & .dots {
      color: var(--mid-grey);
      font-size: 1.8rem;
      letter-spacing: 0.3rem;
    }

    & .reserveCity {
      text-align: center;
      width: 15rem;
    }

    & .reserveDescription {
      color: var(--mid-grey);
      font-size: 1rem;
      font-weight: bold;
    }

    & img {
      width: 50%;
      margin: 1rem;
    }

    & button {
      background: var(--green);
      color: var(--light-grey);
    }

    & button:hover {
      background: var(--green-hover);
    }
  }

  & .custom-next-button,
  .custom-prev-button {
    color: #fff;
    cursor: pointer;
    max-width: 8rem;
    max-height: 4rem;
  }
}

& .back {
  bottom: 4rem;
  left: 18rem;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;

  &:hover {
    transform: scaleX(1.2);
    opacity: 1;
  }
}

@media (max-width: 890px) {
  .reserves {
    width: 100%;
    margin-left: 0;

    & img {
      width: 75%;
    }

    margin-top: 4rem;

    & .custom-next-button,
    .custom-prev-button {
      max-width: 4rem;
      max-height: 3rem;
    }
  }

  .myTitle {
    top: 0.5rem;
    width: 100%;

    & p {
      color: var(--mid-grey);
      font-size: 2rem;
      letter-spacing: 0.5rem;
    }
  }

  & .back {
    bottom: 0;
    left: -2rem;
    width: 30%;
  }
}
