aside a {
  text-decoration: none;
  color: var(--dark);
  font-weight: bolder;

  & p {
    padding: 0.5rem 0;
  }
}

nav {
  position: relative;
}

.offcanvas {
  max-width: 20rem;
}

nav a p:hover {
  background-color: var(--green);
  transition: all 0.2s;
  color: white;
}

nav a p:active {
  background-color: var(--green-hover);
}

.offcanvas-body {
  margin-top: 4rem;
  font-size: 1.5rem;
  text-align: center;
}

.reservation_list .closeMenu img {
  transition: all 0.4s;
  width: 1.5rem;
}

.closeMenu:hover img:first-child {
  transform: rotate(45deg) translate(0.4rem, 0.4rem);
}

.closeMenu:hover img:nth-child(3) {
  display: none;
}

.closeMenu:hover img:last-child {
  transform: rotate(-45deg) translate(0.1rem, -0.3rem);
}

.closeMenu {
  display: none;
}

.openBtn,
.closeMenu {
  position: fixed;
  z-index: 10;
  transition: all 0.4s;
  background: none;
  border: none;
  line-height: 0.4rem;
  width: 4rem;
}

.openBtn:hover,
.closeMenu:hover {
  transform: scale(1.2) translateX(0.2rem);
}

.openBtn:hover img:first-child {
  transform: rotate(44deg) translate(1.2rem, -0.65rem) scaleX(-0.6);
}

.openBtn:hover img:last-child {
  transform: rotate(-35deg) translate(1.2rem, 0.6rem) scaleX(-0.6);
}

.navFooter {
  display: inline;
  position: absolute;
  bottom: 0;
  left: 3rem;
}

.social {
  width: 1.5rem;
  margin: 2rem 1rem 1rem 0;
}

@media (max-width: 900px) {
  .closeMenu {
    display: inline;
  }
}

@media (max-width: 768px) {
  .offcanvas {
    max-width: 15rem;
  }

  .offcanvas-body {
    margin-top: 0;
    font-size: 1.3rem;
  }

  .navFooter {
    display: inline;
    position: absolute;
    bottom: 0;
    left: 2rem;

    & img {
      width: 1.2rem;
      margin: 1rem 0.5rem 1rem 0;
    }
  }
}
