.back-buttom,
.reserve-buttom {
  width: 12rem;
  height: 4rem;
  background-color: #97bf0f;
  border-radius: 2rem;
  text-decoration: none;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.back-grey {
  height: 4rem;
}
