.main-background {
  background: url('/src/assets/background\ add.png') center center no-repeat;
  background-size: cover;
  position: relative;
}

.div-form {
  position: absolute;
  color: #fff;
  z-index: 10;
  box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.5);
}
