/* Global Styles */

:root {
  /* Set your variables here */
  --green: #99c210;
  --green-rgba: rgba(153, 194, 16, 0.9);
  --green-hover: #7b9c0c;
  --yellow: #ffc600;
  --yellow-rgba: rgba(255, 198, 0, 0.7);
  --blue: #10bbb5;
  --blue-rgba: rgba(16, 187, 181, 0.7);
  --light-grey: #efefef;
  --mid-grey: #e2e3e5;
  --mid-grey-rgba: rgba(226, 227, 229, 0.7);
  --dark: #252525;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  /* outline: 1px solid red !important; */
}

h1,
h2,
.formTitle {
  font-family: 'Montserrat Alternates', sans-serif;
}

.formTitle {
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.33);
  border-bottom: 2px solid white;
}

.nav > section:nth-child(2),
.nav > div:nth-child(2) {
  padding-left: 10rem;
}

@media (max-width: 768px) {
  h1.slideContent__title {
    font-size: 2rem;
  }

  .nav > section:nth-child(2),
  .nav > div:nth-child(2) {
    padding-left: 0;
  }
}
