/* Global Styles */

:root {
  /* Set your variables here */
  --green: #99c210;
  --green-rgba: rgba(153, 194, 16, 0.9);
  --green-hover: #7b9c0c;
  --yellow: #ffc600;
  --yellow-rgba: rgba(255, 198, 0, 0.7);
  --blue: #10bbb5;
  --blue-rgba: rgba(16, 187, 181, 0.7);
  --light-grey: #efefef;
  --mid-grey: #e2e3e5;
  --mid-grey-rgba: rgba(226, 227, 229, 0.7);
  --dark: #252525;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  /* outline: 1px solid red !important; */
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
}

@media (max-width: 768px) {
  h1.slideContent__title {
    font-size: 2rem;
  }
}
