/* Global Styles */

:root {
  /* Set your variables here */
  --green: #99c210;
  --green-hover: #7b9c0c;
  --yellow: #ffc600;
  --light-grey: #efefef;
  --mid-grey: #e2e3e5;
  --dark: #252525;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}